@font-face {
    font-family: 'SF-Pro-Display';
    src: url("font/sf-pro-display_semibold.woff2") format("woff2");
}

* {
    font-family: 'SF-Pro-Display';
    margin: 0;
    color: white;
}

html {
    font-size: calc(12px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.home {
    height: 100vh;
    width: 100%;
    background: url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
}

h3 {
    font-size: 0.9rem;
}


/* topbar */

.topbar {
    padding: 0.8rem;
}

.logo {
    width: 5rem;
}


/* price */

.home>.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 80%;
}

.calculator {
    background: url(img/calculator.svg);
    padding: 2rem 1rem 1rem 2rem;
    background-repeat: no-repeat;
    width: 21rem;
    height: 20rem;
}

.hidden {
    display: none;
}

.options>li {
    list-style: none;
    color: rgb(65, 65, 65);
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    border-top: rgb(218, 218, 218) 1px solid;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 0.3rem;
}

#drop2cont {
    margin-left: 6.8rem!important;
    min-width: 2.6rem!important;
}

#drop4cont {
    margin-left: 6.8rem!important;
    min-width: 2.6rem!important;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 6.6rem;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.visible {
    display: block!important;
}

#drop5cont {
    min-width: 20.1rem;
}

.materials {
    width: 5rem;
    background: white;
    padding: 0.5rem 0.8rem;
    color: black;
}

.numbers {
    width: 1rem;
    background: white;
    padding: 0.5rem 0.8rem;
    color: black;
}

.from {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 1rem;
}

.to {
    display: inline-block;
}

.dropdown.moneda {
    width: 18.5rem;
}

.options>li {
    transition: all 150ms ease-in-out;
}

.options>li:hover {
    background: #10CCFF;
    color: white;
}

div.moneda {
    margin-top: 1rem;
}

.presupuestar {
    background: #10CCFF;
    color: white;
    font-size: 1.1rem;
    padding: 0.7rem 1.7rem;
    border: none;
    transition: background 150ms ease-in-out;
    cursor: pointer;
}

.presupuestar:hover {
    background: #0dafdb;
}

.button-center {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.priceext {
    font-size: 3rem;
}

.before {
    text-decoration: line-through;
    color: rgb(255, 98, 98);
}

.message {
    background: rgba(0, 0, 0, 0.24);
}

.message>h2 {
    padding: 1rem;
}

.bottom {
    background: rgb(22, 37, 45);
    background: linear-gradient(156deg, rgba(22, 37, 45, 1) 0%, rgba(14, 23, 28, 1) 100%);
}

.eloinfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
}

.eloinfo>.container>.inside {
    text-align: right;
}

.eloinfo>.container {
    width: 80%;
    gap: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.faqs {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.faqs>.container {
    width: 80%;
}

.nodisp {
    display: none!important;
}

.contratar {
    text-align: center;
    margin-top: 2rem;
    display: flex;
    background: rgba(0, 0, 0, 0.226);
    padding: 1rem;
}

.contratar>a {
    text-decoration: none;
    background: #10CCFF;
    color: white;
    font-size: 0.8rem;
    padding: 1.2rem 0.5rem;
    border: none;
    cursor: pointer;
    clip-path: polygon(0 0, 75% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%);
    display: flex;
    align-items: center;
}

.contratar>p {
    font-size: 0.7rem;
    text-align: left;
    margin-right: 1rem;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.questions>button {
    font-size: 1rem;
    text-align: left;
    background: none;
    border: rgba(255, 255, 255, 0.473) 1px solid;
    padding: 0.5rem;
    cursor: pointer;
}

.questions>button.clicked {
    border: #10CCFF 1px solid;
    color: #10CCFF;
}

.faqinside {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
}

.answers {
    width: 100%;
    background: rgba(0, 0, 0, 0.082);
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgba(255, 255, 255, 0.473) 1px solid;
}

.answers>p {
    padding: 2rem;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 0;
    padding-bottom: 3rem;
}

.contact>.container {
    display: grid;
    grid-template-columns: 4fr 2fr;
    width: 80%;
}

.contact>.container>.text {
    display: flex;
}

.contact>.container>.text>h1 {
    line-height: 2.5rem;
    margin-right: 1rem;
}

.contact>.container>.icons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.icon-contact {
    width: 15%;
}

.dropdown::after {
    content: '';
    width: 0;
    height: 0;
    border-bottom: none;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    border-top: 0.3rem solid #10CCFF;
    position: absolute;
    right: 0.3rem;
    top: 1rem;
    transition: all .2s ease-out;
}

@media screen and (max-width: 600px) {
    .price {
        display: grid;
        grid-template-columns: 1fr;
    }
    .eloinfo>.container {
        grid-template-columns: 1fr;
    }
    .faqinside {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }
    .faqinside>.answers {
        grid-column: 1;
    }
    .contact>.container {
        display: flex;
        flex-direction: column;
    }
    .contact>.container>.text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1rem;
    }
    .contact>.container>.icons {
        justify-content: center;
        margin-top: 1rem;
    }
}